/* Estilos generales */
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, sans-Serif;
    margin: 20px;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"]{
    padding: 8px;
    margin: 5px;
    width: 10%;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #4e9ed4;
}

input[type="button"]{
    padding: 8px;
    width: 15%;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #8ccbf5;
}

table{
    border-color: #4e9ed4;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    
}

td{
    padding: 10px;
    border: 2px solid #4e9ed4;
}